The App Inventor Juggling Act
1 Design the app screen by using the app Designer.
2 Tell the app what to do by programming the Blocks Editor.
3 Test the program using your phone or emulator.
You need three things to use App Inventor:
■ A computer—Windows, Macintosh, or GNU/Linux.
■ An internet connection and browser—Chrome, Firefox, or Safari. (Internet Explorer sup-
port is planned for the future.)
■ A Google account—Free, and available at https://accounts.google.com/signup. Note
that to set up your own account, you have to be age 13 or older in most countries. If
 Licensed to matt richards <matthewrmcgeehan2@gmail.com>
you’re under 13, a parent can sign up for an account and work alongside you. 
Option 1: Using Wi-Fi with the App Inventor companion phone software
If you have access to Wi-Fi, then the good news is that you can run App Inventor without having to download any software to your computer. This is by far the easiest option.
You do need to install an app on your phone called AICompanion, which is available from the App Inventor website and the Google Play Store. And both your phone and your com- puter need to be able to access the same network router Wi-Fi network.
Before you begin, it’s always a good idea to completely uninstall any previous versions of App Inventor that you have on your system. Then follow these steps to configure your phone for working with App Inventor:
1 On your phone or tablet, go to System Settings > Applications and select Unknown Sources. This option lets you use a phone or tablet to “live test” apps that weren’t downloaded from the Google Play Store.
2 Choose Development on the Applications page, and select both the USB Debugging and Stay Awake options. It’s helpful for the screen to stay awake when you have it plugged in to your computer so you can program without having to constantly tap the screen.
3 Install the AICompanion app on your phone. This link will give you a QR code you can scan to download the free app: http://mng.bz/3eV2.
Option 2: using the onscreen emulator
If you don’t want to test on a phone or tablet, you can run a virtual phone called an emula- tor on your computer screen. To do this, you need to install the App Inventor setup soft- ware.
Once this software is installed, any time you want to test an app, you must run the aiStarter program (which will be installed automatically as part of the setup). We explain more about the emulator later in the chapter.
Before you begin, it’s always a good idea to completely uninstall any previous versions of App Inventor that you have on your system. Then follow these steps:
1 Install the App Inventor setup software. Follow this link, and go to the Install the App Inventor Setup Software section of the page: http://mng.bz/tk58. Then follow the steps for your operating system.
2 Launch aiStarter. You need this piece of software to communicate
between the computer and the emulator. When you installed the App
Inventor setup software in step 1, aiStarter was automatically installed.
Windows and Linux users need to manually launch it from either the Start menu or the Programs menu every time you want to use App Inventor. Mac users will find that it launches automatically.
Option 3: connecting via USB cable
You can plug your phone directly into your computer via a USB cable. This has the advan- tage that your phone is charging while you’re working. You need the same setup as for option 2, plus you may need to install the right USB driver for your phone on the computer you’re using.
Before you begin, it’s always a good idea to completely uninstall any previous versions of App Inventor that you have on your system. Then follow these steps:
1 Install the App Inventor setup software. Follow this link, and go to the Install the App Inventor Setup Software section of the page: http://mng.bz/3eV2. Then follow the steps for your operating system.
2 If you are using a Windows PC, you’ll probably need to install the device driver for your Android phone or tablet. A device driver is a little program that lets computers “talk” to
  Licensed to matt richards <matthewrmcgeehan2@gmail.com>
compatible devices like mice, keyboards, and smartphones. The App Inventor setup software includes drivers for some common Android phones, but if yours doesn’t appear on the list at http://mng.bz/YXxg, you’ll need to install a driver manually.
3 Configure your phone for working with App Inventor, as follows:
a On your phone or tablet, go to System Settings > Applications and select Unknown
Sources. This option lets you use a phone or tablet to “live test” apps that weren’t
downloaded from the Google Play Store.
b Choose Development on the Applications page, and select both the USB Debug-
ging and Stay Awake options. It’s helpful for the screen to stay awake when you have it plugged in to your computer so you can program without having to constantly tap the screen.
c Install the AICompanion app on your phone. This link will give you a QR code you can scan to download the free app: http://mng.bz/3eV2.
4 Launch aiStarter. You need this piece of software to communicate
between the computer and the phone via USB. When you installed the
App Inventor setup software in step 1, aiStarter was automatically
installed.
Windows and Linux users need to manually launch it from either the Start menu or the Programs menu every time you want to use App Inventor. Mac users will find that it launches automatically.
Using all three options
If you want to be able to use all three options to test or teach, you need to ensure that you’ve downloaded the free App Inventor software from the website and installed the AICompanion app on your phone.
